@import url('dashboard.css');
@import url('monitoramento.css');
@import url('aside.css');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --estadosInativos: #bbc3c9a8;
    --estadosSudeste: #4fa4b8;
    --estadosSul: #686f99;
    --corCard: #14161D;
}

body {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.mapa {
    background-color: var(--corCard);
    padding: 1rem;
    width: 60%;
    border-radius: 1rem;
}

svg{
    width: 100%;
}

.norte, .nordeste, .centro-oeste, #BR-DF {
    fill: var(--estadosInativos);
}

.sudeste {
    fill: var(--estadosSudeste);
}

.sul {
    fill: var(--estadosSul);
}

path {
    stroke: white;
    stroke-width: 1px;
}

.freeFlow:hover {
    fill: purple;
    stroke: red;
    stroke-width: 3px;
    transition: fill 0.4s;
}

#sessao_direita {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    height: 100%;
}

#cards_monitoramento {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #14161D;
  color: #FFF;
  border-radius: 1rem;
}